@use "./styles/_mixins.scss" as *;

$dawn-start: #ffccac;
$dawn-end: #d4a5ff;
$accent-glow: #9d50bb;
$colon-bg: #1a152e;
$logo-base-dark: #2b2246;
$lace-trim: #e2e8f0;

app-modal.user-modal dialog {
  &:open {
    background-image: linear-gradient(90deg, $dawn-start 0%, $dawn-end 100%);
    border: 3px solid $accent-glow;
    border-radius: var(--border-radius);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  label,
  .field-label,
  label.required {
    color: $logo-base-dark !important;
    font-family: var(--secondary-font);
    font-size: 15px !important;
    font-style: italic !important;
    font-weight: 400 !important;
    line-height: 19.455px !important;
    display: block;
    margin-bottom: 8px;
  }

  label,
  label.required {
    display: block;
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
    padding: 0 !important;
    margin-bottom: 8px;
    &:not(:first-of-type) {
      margin-top: 35px;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    background-color: $lace-trim !important;
    border-radius: var(--border-radius);
    padding: 13px 10px;
    margin: 15px 0;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:focus {
      outline: 1px solid $accent-glow;
      outline-offset: 2px;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $lace-trim inset !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  input {
    height: 40px;
  }

  textarea {
    min-height: 2.5rem;
    overflow-y: auto;
    resize: vertical;
    line-height: 1.4;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15px;
    justify-content: space-between;

    button {
      font-size: 15px;
      padding: 0 1rem;
      width: 100%;
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;

    input.invalid,
    textarea.invalid {
      border: 1px solid #ff4d4f !important;
      background-color: #fff1f0 !important;
    }
  }

  @include desktop {
    .modal-content {
      .button-group {
        flex-direction: row;

        margin-top: 37px;
        button {
          font-size: 0.9rem;
          width: 40%;
        }
      }

      label,
      .field-label,
      label.required {
        font-size: 18px !important;
      }

      label,
      label.required {
        display: block;
        &:not(:first-of-type) {
          margin-top: 35px;
        }
      }
    }
  }
}
