:host {
  display: block;
  width: 100%;
  min-height: 100vh;

  background-image: url("../../../../../assets/backgrounds/custom-bg.png");
  background-repeat: repeat;
  background-size: 400px;
  background-attachment: fixed;
}

.collection-header {
  padding: 2rem;
  border-bottom: 1px solid var(--lace-trim);
}
.dolls-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
