:host {
  display: block;
  width: 100%;
  min-height: 100vh;

  background-image: url("../../../../../assets/backgrounds/shop-bg.png");
  background-repeat: repeat;
  background-size: 400px;
  background-attachment: fixed;
}
