<div class="user-menu-container">
  <div
    class="active-user"
    [class.open]="menuOpen()"
    (click)="toggleMenu($event)"
  >
    <app-avatar
      [src]="userData()?.avatar"
      [name]="displayName()"
      [size]="'w-11 h-11'"
      class="user-avatar-shadow"
      [class.active-ring]="menuOpen()"
    ></app-avatar>
  </div>

  @if (menuOpen()) {
    <nav class="custom-menu">
      <div class="user-header">
        <span class="full-name header-name">{{ displayName() }}</span>
        @if (userData()?.role) {
          <span class="role-tag">{{ userData()?.role | titlecase }}</span>
        }
      </div>

      <ul class="menu-list">
        <li>
          <a
            routerLink="/user/settings"
            (click)="closeMenu()"
            class="link-settings"
          >
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/user/support"
            (click)="closeMenu()"
            class="link-support"
          >
            <span>Help & Support</span>
          </a>
        </li>

        <li>
          <button class="link-add-collection" (click)="openCreateModal($event)">
            <span>Create Collection</span>
          </button>
        </li>

        <!-- @if (isAdmin()) { -->
        <li>
          <a routerLink="/admin-panel" (click)="closeMenu()" class="link-admin">
            <span>Admin Area</span>
          </a>
        </li>
        <!-- } -->

        <li class="separator"></li>
        <li>
          <button class="logout-btn" (click)="onLogout()">
            <span>Log Out</span>
          </button>
        </li>
      </ul>
    </nav>
  }
</div>
<app-modal class="user-modal" #createModal title="New Collection">
  <app-create-collection-form
    (success)="createModal.closeModal()"
  ></app-create-collection-form>
</app-modal>
